/* static/css/custom.css */
.btn-custom {
    background-color: #212529; /* Чёрный, как btn-dark */
    color: #ffffff; /* Белый текст */
    border-color: #212529;
}
.btn-custom:hover {
    background-color: #343a40; /* Чуть светлее при наведении */
    color: #ffffff;
    border-color: #343a40;
}